body{
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container .places h1{
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
}
.container .places .art_display{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  
}

.container .places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
   
}
.container .places article h2{
    font-size: 30px;
    text-align: center;
}

.container .places .price_by_night{
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    text-align: center;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    margin-top: -70px;
}
.container .places .price_by_night p{
    margin-top: 10px;
}
.container .places .information{
    height: 80px;
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    

}
.container .places .information
.max_guest, .number_rooms, .number_bathrooms{
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.container .places .user, .description{
    margin-top: 20px;
    font-family: Helvetica;
}

.container .places .reviews{
    margin-top: 40px;
}
.container .places .reviews li{
    list-style: none;
}
.container .places .reviews h2{
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

.container .places .reviews h3{
    font-size: 14px;
}
.container .places .reviews p{
    font-size: 12px;
}

@media screen and (max-width: 650px) {
    .container .places .information
.max_guest, .number_rooms, .number_bathrooms{
    width: 100px;
}

.container .places h1{
    margin-left: 25px;
}
body{
    overflow-x: hidden;
}
}